<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h2>hola</h2>

    <form th:action="@{/procesarFormulario}" method="post">
        
        <div>
            <label for="campo1">Campo 1:</label>
            <input type="text" id="campo1" name="campo1" required>
        </div>

        <br>

        <div>
            <label for="campo2">Campo 2:</label>
            <input type="text" id="campo2" name="campo2" required>
        </div>

        <br>

        <div>
            <label for="campo3">Campo 3:</label>
            <input type="text" id="campo3" name="campo3" required>
        </div>

        <br><br>

        <button type="submit">Enviar</button>

        <a th:href="@{/}" style="margin-left:15px;">
            <button type="button">Volver al menú principal</button>
        </a>

    </form>

</body>
</html>
